<% if logged_in? %>
<a style="color:white;font-size:20px;padding-left:20px;" href="/admin"> Back </a>


<div class="new_div">
	<ul>
	<%= form_for @tile, :url => tiles_path, :html => { :multipart => true } do |f| %>
	  <li><%= f.label("Name") %></li>
	  <%= f.text_field :name %><br>
	  <li><%= f.label("Description") %></li>
	  <%= f.text_field :description %><br>
	  <li><%= f.label("Collection") %></li>
		<%= f.select :collection, options_for_select([["Select Type", ""], "Duno Sands","Venetian"]) %><br>
	  <li><%= f.label("Subsection") %>  </li>
	  <%= f.select :subsection, options_for_select([["Select Type", ""], "Handmade", "High Definition Ink Jet Technology"]) %><br>
	  <li><%= f.label("Finish") %>  </li>
	  <%= f.select :finish, options_for_select([["Select Type", ""], "Lappato", "Matte", "Gloss"]) %><br>
	  <li><%= f.label("Size") %>  </li>
	  <%= f.select :size, options_for_select([["Select Type", ""], "12 x 24 | 24 x 24 | 18 x 36 "]) %><br>
 	<%= file_field_tag "images[]", type: :file, multiple: true %><br><br>
	  <li><%= f.submit %></li>
	<% end %>	
	</ul>

</div>

<% else %>

<p>You must be an administrator to access this page, please return to the home site. </p>

<% end %>
