<body style="background-image:none;">



<div class="quart-show-div">
	<ul>
		<li><h1 style="text-align: center;color:black;font-family: 'Josefin Sans';font-size:80px;"><%=@tile.name%></h1><br></li>

		<!-- <p>Specifications</p> -->

	<% @pictures_tile.each do |pic| %>
      <li>      <a href="/pictures/<%=pic.id%>"><%= image_tag pic.image.url %></a></li>
      <%= pic.description %>





      <% end %>
      	<li><p><b>Collection:</b> <%=@tile.collection %></p></li>
		<li><p><b>Description:</b> <%=@tile.description %></p></li>
	</ul>

     

</div>
</body>
