<title><%= @tile.name%></title>

<div id="header"> 
    <a href="javascript:history.back()"><%= image_tag 'logo.jpg', :id => "logo" %></a>
</div>



  <div id="tile-show-div">
  		<h1 style="text-align: center;color:black;font-family: 'Josefin Sans';font-size:80px;margin-top:80px"><%=@tile.name%></h1><br>
      <ul>
      	<% @pictures_tile.each do |pic| %>
              <li><a href="/pictures/<%=pic.id%>"><%= image_tag pic.image.url %></a></li>
              <li><p><%= pic.description %></p></li>
        <% end %>
    	</ul>

          <p><b>Description:</b> <%=@tile.description %></p><br>
          <p><b>Collection:</b> <%=@tile.collection %></p><br>
          <p><b>Finished Surface:</b> <%=@tile.finish%></p><br>
          <p><b>Size:</b> <%=@tile.size%></p>
  </div>



