

<% if logged_in? %>
 <a class="links" href="/logout"> Logout</a>
<% end %>




	<!-- Box containing logo -->
<div id="header"> 

		<a href="#" onClick="window.location.reload();return false;"><img src="assets/logo.jpg" id= "logo"></a>
	<ul id="nav">	
		<li><a>STONE</a></li>	
		<li><a>TILE</a></li>	
		<li><a>CONTACT</a></li>
		<li><a>GALLERY</a></li>
		<li><a>CUSTOMER CARE</a></li>
		<li><a href="/specs">SPECIFICATIONS</a></li>
		<li><a href="/warranty">WARRANTY</a></li>


		<li><a id="tel" href="tel:+16313960551">CALL NOW</a></li>
		<li><a id="tel_2">631-396-0551</a></li>

	</ul>

	<!-- <ul id="stone-nav"> -->
		<!-- <li><a>Marble</a></li>	 -->
		<!-- <li><a>Quartz</a></li> -->
		<!-- <li><a>Granite</a></li> -->
	<!-- </ul> -->

	<ul id="cust-nav">
		<li><a>Care And Maintainence</a></li>	
		<li><a>FAQ</a></li>	
		<li><a>Reviews</a></li>


	</ul>	




</div>
	

	


   <div id="slides" class="hide">


  	<img src="assets/SLIDE1-a06e7c38f13052b8a277ad658a201257ba4ff17be4cdeea1e32f32d96031c93a.jpg">
  	<img src="assets/SLIDE2-d6fdd4b7c28d86c3a5859f3ad14fd8842f916ed824221b5c77b24ca5e5ed2699.jpg">
  	<img src="assets/SLIDE3-d22ee4ab7b758e887951561e5e1f93c885a2a8d6cd58f53ced33e2f7949e9910.jpg">
  	<img src="assets/SLIDE4-e1c22c29ed36466a367b5a13781999f8cd9015e5c55701a2934ad43427388ac1.jpg">
  	<img src="assets/SLIDE5.jpg">

  
  	<!-- <img src="assets/slide3.JPG"> -->
  	<!-- <img src="assets/slide4.JPG"> -->
  	<!-- <img src="assets/M2mk_Final_23-ba3bc5355ba5c54172d2e5cb9c5109eaf20bb507abb4c5b5a36800eb9c443399.jpg"> -->
    <!-- <img src="assets/pic1-288bdde970eb46feb2575fa574fd0a3da517a60c64146a0cd83e40613a137f3d.jpg"> -->
    <!-- <img src="assets/pict5-2575e3d1f0fa5c8b92035232957ea07bc5454293c2f96ce7a60dc1b37b21f496.jpg"> -->
    <!-- <img src="assets/welcome-pic-2fda93a3a360be1e9f71e54a3ca0761ab54155c9458deeab552fb2bc63d74993.jpg"> -->


  </div>


<!--   	<img style="width:30%; height:30%; padding-left: 50px;" src="assets/slide2.JPG">
  	<img style="width:30%; height:30%; padding-left: 50px;" src="assets/IMG_5044.JPG">

 -->
	




<!-- Front page box  -->
<!-- <div id="box" class="hide">
	<p>Regalia Stone is the name of choice among architects, designers, builders, contractors,

	fabricators and homeowners in the Tri­State area. We have our own quarries and

	processing facilities overseas and our company provides various high standard natural stone and

	engineered stone at a competitive price. It is our commitment to providing the best

	customer service to each client to achieve success in every project. We'll work with you on each aspect of your project 

	to make sure you don't just leave our facility with your job done, but that you leave us feeling delighted and knowing 

	you have someone you can trust. <br><br>Regalia Stone, we're all for you.</p>
	<p> Welcome to Regalia Stone. </p>
	<input id="front-page-button" type="submit" class="styled-button-1" value="View our latest designs now!" /> 
</div> -->






	<script>
	    $(function(){
	      $("#slides").slidesjs({
	        width: 600,
	        height: 480,
	        navigation: {
		      active: false,
		        // [boolean] Generates next and previous buttons.
		        // You can set to false and use your own buttons.
		        // User defined buttons must have the following:
		        // previous button: class="slidesjs-previous slidesjs-navigation"
		        // next button: class="slidesjs-next slidesjs-navigation"
		      effect: "fade"
		        // [string] Can be either "slide" or "fade".
		    },
		   play: {
		      active: false,
		        // [boolean] Generate the play and stop buttons.
		        // You cannot use your own buttons. Sorry.
		      effect: "fade",
		        // [string] Can be either "slide" or "fade".
		      interval: 3000,
		        // [number] Time spent on each slide in milliseconds.
		      auto: true,
		        // [boolean] Start playing the slideshow on load.
		      swap: true,
		        // [boolean] show/hide stop and play buttons
		      pauseOnHover: false,
		        // [boolean] pause a playing slideshow on hover
		      restartDelay: 2500
		        // [number] restart delay on inactive slideshow
		    },
		   pagination: {
		      active: false,
		        // [boolean] Create pagination items.
		        // You cannot use your own pagination. Sorry.
		      effect: "slide"
		        // [string] Can be either "slide" or "fade".
		    }

	      });
	    });
	  </script>
	









<!-- Start Contact Page -->

<div id='contact-div' class="hide">
	<p>We are available for your convenience between the hours of 9 and 6 PM EST! For inquiries please contact sales: </p>
	<p>Aresh@RegaliaStone.com</p>
	<p>Sami@RegaliaStone.com</p>
	<p>Office: 631.396.0551 </p>
	<p>1980 New Hwy, Farmingdale, NY 11735</p>

		<%= image_tag 'regalia-store.jpg' %>
		<%= image_tag 'map.png' %>

</div>



<div id="tile-header" class="hide">
	<p>Duno Sands ™ is a special porcelain tile, manufactured at 1200° creating a homogenous body tile. The tile then is calibrated, semi-polished(Lappato) and rectified; Permitting its installation at 1/16th” tight grout joint. Therefore creating a very pleasant and practical aesthetic look.</p>
</div>


<table class="tiles-slabs hide">
	<tr> <h1 class="tile-h1 hide"> DUNO SANDS </h1>
		<td class="col">
			<ul>
				<% @tiles_duno.each do |tile| %>

				<% if tile.pictures.first %>
            	
				<li>
            	<!-- listing image pictures -->
            	<%= link_to image_tag(tile.pictures.first.image.url), tile_path(tile) %>
            	<% else %>
              		N/A
            	<% end %>
					<a href="<%=tile_path(tile)%>">

							<p><%=tile.name%></p><br>
							 <% if logged_in? %>
							<p><%=link_to 'Edit', edit_tile_path(tile) %></p>
							<p><%=link_to "Delete", tile_path(tile), :method => :delete %></p>			
							<% end %>
				</li>
				<% end %>
			</ul>
		</td>
	</tr>
</table>

<table class="tiles-slabs hide">
<tr> <h1 class="tile-h1 hide"> VENETIAN HAND MADE COLLECTION</h1>
<td class="col">
<ul>
<% @tiles_venetian.each do |tile| %>
<% if tile.pictures.first %>

<li>
<%= link_to image_tag(tile.pictures.first.image.url), tile_path(tile) %>
            	<% else %>
              		N/A
            	<% end %>
<a href="<%=tile_path(tile)%>">

<p><%=tile.name%></p><br>
<% if logged_in? %>
<p><%=link_to 'Edit', edit_tile_path(tile) %></p>
<p><%=link_to "Delete", tile_path(tile), :method => :delete %></p>
<% end %>
</li>
<% end %>
</ul>
</td>
</tr>
</table>





<!-- Quartz Table   -->

<div id="quartz-header" class="hide">
	<p>Regalia Stone Quartz are hard to beat if you’re looking for a surface that requires minimal maintenance. This durable material stands up to stains, scratches, heat and as a bonus it doesn’t require any type of sealing. It’s an excellent choice for any room in need of a countertop, such as the <em>kitchen</em>, <em>bathroom</em>, <em>laundry room</em> and more. Visit our showroom now to view our beautiful collections in person.</p>
</div>





<!-- Tuscany -->


<table class="quarts-slabs hide">
	<tr> <h1 class="collection-h1 hide"> THE TUSCANY COLLECTION </h1>
		<td class="col">
			<ul>
				<% @quarts_tuscanys.each do |quart| %>

				<% if quart.pictures.first %>

				<li>
				<!-- listing image pictures -->
            	<%= link_to image_tag(quart.pictures.first.image.url), quart_path(quart) %>
            	<% else %>
              		N/A
            	<% end %>
					<a href="<%=quart_path(quart)%>">

							<p><%=quart.name%></p><br>
							 <% if logged_in? %>
							<p><%=link_to 'Edit', edit_quart_path(quart) %></p>
							<p><%=link_to "Delete", quart_path(quart), :method => :delete %></p>			
							<% end %>
				</li>
				<% end %>
			</ul>
		</td>
	</tr>
</table>

<!-- Marmoreal -->
<table class="quarts-slabs hide">
		<tr><h1 class="collection-h1 hide"> THE MARMOREAL SERIES </h1>
		<td class="col">
		<ul>

		<% @quarts_marmoreals.each do |quart| %>
		<% if quart.pictures.first %>
		<li>
		<%= link_to image_tag(quart.pictures.first.image.url), quart_path(quart) %>
            	<% else %>
              		N/A
            	<% end %>

		<a href="<%=quart_path(quart)%>">
		<p><%=quart.name%></p><br>
		<% if logged_in? %>
		<p><%=link_to 'Edit', edit_quart_path(quart) %></p>
		<p><%=link_to "Delete", quart_path(quart), :method => :delete %></p>
		<% end %>
		</li>
		<% end %>
		</ul>
		</td>
		</tr>
</table>

<!-- Galaxy -->

<table class="quarts-slabs hide">
<tr><h1 class="collection-h1 hide"> THE GALAXY SERIES </h1>
<td class="col">
<ul>
<% @quarts_galaxys.each do |quart| %>
<% if quart.pictures.first %>
<li>
<%= link_to image_tag(quart.pictures.first.image.url), quart_path(quart) %>
            	<% else %>
              		N/A
            	<% end %>
<a href="<%=quart_path(quart)%>">
<p><%=quart.name%></p><br>
<% if logged_in? %>
<p><%=link_to 'Edit', edit_quart_path(quart) %></p>
<p><%=link_to "Delete", quart_path(quart), :method => :delete %></p>
<% end %>
</li>
<% end %>
</ul>
</td>
</tr>
</table>

<!-- Soft Series -->

<table class="quarts-slabs hide">
<tr><h1 class="collection-h1 hide">SOFT SERIES </h1>
<td class="col">
<ul>
<% @quarts_soft.each do |quart| %>
<% if quart.pictures.first %>
<li>
<%= link_to image_tag(quart.pictures.first.image.url), quart_path(quart) %>
            	<% else %>
              		N/A
            	<% end %>
<a href="<%=quart_path(quart)%>">
<p><%=quart.name%></p><br>
<% if logged_in? %>
<p><%=link_to 'Edit', edit_quart_path(quart) %></p>
<p><%=link_to "Delete", quart_path(quart), :method => :delete %></p>
<% end %>
</li>
<% end %>
</ul>
</td>
</tr>
</table>






<img style="display:block;width:60%;margin:0 auto;" id="certifications" src="assets/warranty.png">

<!-- Care And Maintainence -->

<div id="care_and_maintainence" class="hide" style="padding:0px 200px 0px 200px">
	<h1 style="padding-top: 200px;color:black;text-align: left;">Product Care And Maintenance</h1>
	
	<p><em>
	Maintaining Quartz is easy. Simply wash with warm water and soap if desired.
	</em></p>

	<p>
	<b>DO NOT</b>  use abrasive or strong alkaline or acid or free radicals or oxidizers or the like (whether high, neutral or low pH) cleaners.
	</p>

	<p>
	<b>No Quartz</b> Stone is  heat proof, chemical proof or fracture proof in any form..
	</p>

	<p>
	<b>DO NOT</b> use or expose the Quartz surface to such products including, but not limited to bleach, oven cleaners, Comet®, Soft Scrub®, SOS®, products with pumice, batteries, paint removers, furniture strippers, tarnish or silver cleaners, or the like. DO NOT use abrasive or harsh scrub pads. DO NOT apply any sealers, penetrants or topical. Such products will wear off and cause the gloss to appear dull or inconsistent.
	</p>
	<ul id="care-list">
		<li><p>
		<b>1.</b>       Regalia Stone is pure natural quartz. Variation in the natural stone (quartz) color, pattern, size, shape and shade are inherent and unique characteristics to be expected with this Product. This does not affect the Product performance in any manner.
		</p></li>

		<li><p>
		<b>2.</b>       Regalia Stone’s Quartz is durable and more resistant to surface damage than other stone. However, all stone can be damaged by force and no stone is chip-proof. Objects hitting edges particularly at sinks or dishwashers may cause chips.
		</p></li>

		<li><p>
		<b>3.</b>       Natural stone surfaces can be damaged by sudden and/or rapid change of temperature especially near the edges, as well as direct and/or sustained heating of the top. Quartz may not withstand the direct transfer of heat from pots and pans and other cooking units such as electric frying pans and griddles, and some crockpots or roaster ovens and heat lamps. Therefore, the use of a hot pad or trivet is always recommended.
		</p></li>
	</ul>
</div>

<!-- FAQ page -->

<div id="faq-div" class="hide">

	<h1>F.A.Q</h1>

	<ul id="questions-list">
		
		<li>
			<p class="question">What is Quartz?</p>
			<p class="answers">
			Quartz is one of the hardest, most abundant minerals found in nature ? only diamond, sapphire and topaz are harder. Besides beauty, the quartz in the slabs give it extreme strength, making the slabs highly scratch-resistant.
			</p>
		</li>

		<li>
			<p class="question">Can I buy materials form you directly?</p>
			<p class="answers">
			Yes! While our showroom is open to the public, Regalia Stone is a wholesale distributor, so we sell to trade professionals, including designers, builders, contractors, fabricators and etc. Our slabs are available to anyone.
			</p>
		</li>

		<li>
			<p class="question">Can I choose my own slabs?</p>
			<p class="answers">Yes! Our staff are there with you 100%. We are happy to have you approve the stone and we will help you make the best choice for your needs.
			</p>
		</li>

	
		<li>
			<p class="question">Do I need to apply a sealer on my Quartz surface?</p>
			<p class="answers">No. They are a non-porous surface, so you will never have to apply sealer to any surface.</p>
		</li>

		<li>
			<p class="question">How thick are the slabs?</p>
			<p class="answers">Our stone slabs are available in (126"X64") 3cm thickness.</p>
		</li>


		<li>
			<p class="question">Do you offer a warranty?</p>
			<p class="answers">
			Yes! View our policy <a href="/warranty">here</a></p>
		</li>
	</ul>
</div>


<div id="review-div" class="hide">

	<h1>Reviews</h1>

	
	<% @reviews.each do |review| %>
	<ul>
		<li>
		<p><%=	review.name %>
		<br>
		<br>
		<%=	review.date %>
		<br>
		<br>
		"<em><%=review.description %></em>"
		</p>

	<%if logged_in? %>
		<p><%=link_to 'Edit', edit_review_path(review) %></p>
		<p><%=link_to "Delete", review_path(review), :method => :delete %></p>			
	<%end %>

		</li>
	</ul>
<% end %>



</div>


<!-- <div id="footer-div" >
	<ul>

		<li><p>1980 New Highway</p></li>
		<li><p>Farmingdale, New York 11735</p></li>
		<li><p>Tel: 631.396.0551</p></li>
		<li><p>Fax: 631.396.0554</p></li>
		<li><p>
		© 2015 RegaliaStone Corportation. All rights are reserved</p></li>

	</ul>

</div> -->






