<link href='http://fonts.googleapis.com/css?family=Vollkorn' rel='stylesheet' type='text/css'>
<% if logged_in? %>
 <a class="links" href="/logout"> Logout</a>
<% end %>




	<!-- Box containing logo -->
<div id="header"> 

		<a href="#" onClick="window.location.reload();return false;"><%= image_tag 'logo2.png', :id => "logo" %></a>

	<ul id="nav">
		<li><a>STONE</a></li>	
		<li><a>CONTACT</a></li>
		<li><a>GALLERY</a></li>
		<li><a>CUSTOMER CARE</a></li>
		<li><a id="tel" href="tel:+16313960551">CALL NOW</a></li>
		<li><a id="tel_2">631-396-0551</a></li>

	</ul>

	<!-- <ul id="stone-nav"> -->
		<!-- <li><a>Marble</a></li>	 -->
		<!-- <li><a>Quartz</a></li> -->
		<!-- <li><a>Granite</a></li> -->
	<!-- </ul> -->

	<ul id="cust-nav">
		<li><a>FAQ</a></li>	
		<li><a>Warranty</a></li>
		<li><a>Reviews</a></li>
	</ul>	




</div>
	

   <div id="slides">


  	<img src="assets/SLIDE1.jpeg">
  	<img src="assets/IMG_1409.jpeg">
  	<img src="assets/IMG_5020.jpg">

  
  	<!-- <img src="assets/slide3.JPG"> -->
  	<!-- <img src="assets/slide4.JPG"> -->
  	<!-- <img src="assets/M2mk_Final_23-ba3bc5355ba5c54172d2e5cb9c5109eaf20bb507abb4c5b5a36800eb9c443399.jpg"> -->
    <!-- <img src="assets/pic1-288bdde970eb46feb2575fa574fd0a3da517a60c64146a0cd83e40613a137f3d.jpg"> -->
    <!-- <img src="assets/pict5-2575e3d1f0fa5c8b92035232957ea07bc5454293c2f96ce7a60dc1b37b21f496.jpg"> -->
    <!-- <img src="assets/welcome-pic-2fda93a3a360be1e9f71e54a3ca0761ab54155c9458deeab552fb2bc63d74993.jpg"> -->


  </div>

  <img style="display:block;width:60%;margin:0 auto;"src="assets/warranty.png">

<!--   	<img style="width:30%; height:30%; padding-left: 50px;" src="assets/slide2.JPG">
  	<img style="width:30%; height:30%; padding-left: 50px;" src="assets/IMG_5044.JPG">

 -->
	




<!-- Front page box  -->
<!-- <div id="box" class="hide">
	<p>Regalia Stone is the name of choice among architects, designers, builders, contractors,

	fabricators and homeowners in the Tri­State area. We have our own quarries and

	processing facilities overseas and our company provides various high standard natural stone and

	engineered stone at a competitive price. It is our commitment to providing the best

	customer service to each client to achieve success in every project. We'll work with you on each aspect of your project 

	to make sure you don't just leave our facility with your job done, but that you leave us feeling delighted and knowing 

	you have someone you can trust. <br><br>Regalia Stone, we're all for you.</p>
	<p> Welcome to Regalia Stone. </p>
	<input id="front-page-button" type="submit" class="styled-button-1" value="View our latest designs now!" /> 
</div> -->






	<script>
	    $(function(){
	      $("#slides").slidesjs({
	        width: 600,
	        height: 480,
	        navigation: {
		      active: false,
		        // [boolean] Generates next and previous buttons.
		        // You can set to false and use your own buttons.
		        // User defined buttons must have the following:
		        // previous button: class="slidesjs-previous slidesjs-navigation"
		        // next button: class="slidesjs-next slidesjs-navigation"
		      effect: "fade"
		        // [string] Can be either "slide" or "fade".
		    },
		   play: {
		      active: false,
		        // [boolean] Generate the play and stop buttons.
		        // You cannot use your own buttons. Sorry.
		      effect: "fade",
		        // [string] Can be either "slide" or "fade".
		      interval: 3000,
		        // [number] Time spent on each slide in milliseconds.
		      auto: true,
		        // [boolean] Start playing the slideshow on load.
		      swap: true,
		        // [boolean] show/hide stop and play buttons
		      pauseOnHover: false,
		        // [boolean] pause a playing slideshow on hover
		      restartDelay: 2500
		        // [number] restart delay on inactive slideshow
		    },
		   pagination: {
		      active: false,
		        // [boolean] Create pagination items.
		        // You cannot use your own pagination. Sorry.
		      effect: "slide"
		        // [string] Can be either "slide" or "fade".
		    }

	      });
	    });
	  </script>
	









<!-- Start Contact Page -->

<div id='contact-div' class="hide">
	<p>We are available for your convenience between the hours of 9 and 6 PM EST! For inquiries please contact sales: </p>
	<p>Aresh@RegaliaStone.com</p>
	<p>Sami@RegaliaStone.com</p>
	<p>Office: 631.396.0551 </p>
	<p>1980 New Hwy, Farmingdale, NY 11735</p>

		<%= image_tag 'regalia-store.jpg' %>
		<%= image_tag 'map.png' %>

</div>

<!-- Quartz Table   -->

<!-- <div id="quartz-header" class="hide">
	<p> Quartz Slabs</p>
	<p>• Quartz is one of the hardest, most abundant minerals found in nature. Only diamond, sapphire and topaz are harder. Besides beauty, the Quartz in the slabs give it extreme strength, making the slabs highly scratch-resistant.

 </p>
	<p> • All quartz slabs are sizes 126" x 64" 3CM or bigger </p>
	<p>• Willing to match price with anyone. Just bring in proof</p>
</div>
 -->

<table id="quartz-slabs" class="hide">
	<tr>
		<td class="col">
			<ul>
				<% @quarts.each do |quart| %>
				<li>
					<a href="<%=quart_path(quart)%>">
						<%= image_tag quart.avatar.url(:medium) %>
							<p><%=quart.name%></p><br>
							<!-- <p><%=quart.description%><br></p> -->
							<!-- admin only links -->
							 <% if logged_in? %>
							<p><%=link_to 'Edit', edit_quart_path(quart) %></p>
							<p><%=link_to "Delete", quart_path(quart), :method => :delete %></p>			
							<% end %>
				</li>
				<% end %>
			</ul>
		</td>
	</tr>
</table>

<!-- End Quartz Page  -->


<!-- Granites Table  -->


<div id="granites-header" class="hide">
	<p> Granite Slabs</p>
	<p>• The highest quality slabs available on the market </p>
	<p> • All Granite slabs are sizes 126" x 64" 3CM or bigger </p>
	<p>• Willing to match price with anyone.</p>
</div>

<table id="granites-slabs" class="hide">
	<tr>
		<td class="col">
			<ul>
				<% @granites.each do |granite| %>
				<li>
					<a href="<%=granite_path(granite)%>">
						<%= image_tag granite.avatar.url(:medium) %>
						
							<p><%=granite.name%></p><br>
							<!-- <p><%=granite.description%><br></p> -->
							<!-- admin only links -->
							<% if logged_in? %>
							<p><%=link_to 'Edit', edit_granite_path(granite) %></p>
							<p><%=link_to 'Show', granite_path(granite) %></p>
							<p><%=link_to "Delete", granite_path(granite), :method => :delete %></p>			
							<% end %>
					</a>
				</li>
				<% end %>
			</ul>
		</td>
	</tr>
</table>

<!-- End Granites Page -->

<!-- FAQ page -->

<div id="faq-div" class="hide">

	<h1>F.A.Q</h1>

	<ul id="questions-list">
		<li>
			<p class="question">Does granite burn?</p>
			<p class="answers">No. It is perfectly ok to set hot pots or pans onto granite.</p>
		</li>

		<li>
			<p class="question">How do you take care of granite?</p>
			<p class="answers">Use cleaners specifically formulated to help clean and protect stone surfaces.</p>
		</li>

		<li>
			<p class="question">Can I buy materials form you directly?</p>
			<p class="answers">
			Yes! While our showroom is open to the public, Regalia Stone is a wholesale distributor, so we sell to trade professionals, including designers, builders, contractors, fabricators and etc. Our slabs are available to anyone.
			</p>
		</li>

		<li>
			<p class="question">Can I choose my own slabs?</p>
			<p class="answers">Yes! Our staffs are there with you 100%. We are happy to have you approve the stone and we will help you make the best choice for your needs.
			</p>
		</li>

		<li>
			<p class="question">Do you do fabrication?</p>
			<p class="answers">
			Yes! At Regalia Stone, we specialize in distributing, importing, and fabricating for our clients. Our fabrication team turn stone into perfect kitchen and bathroom countertops leaving the clients with the freedom of imagination.
			</p>
		</li>

		<li>
			<p class="question">Do I need to apply a sealer on my granite or quartz surface?</p>
			<p class="answers">No. They are a non-porous surface, so you will never have to apply sealer to any surface.</p>
		</li>

		<li>
			<p class="question">How thick are the slabs?</p>
			<p class="answers">Our stone slabs are available in (126"X64") 3cm thickness.</p>
		</li>

		<li>
			<p class="question">What is quartz?</p>
			<p class="answers">
			Quartz is one of the hardest, most abundant minerals found in nature ? only diamond, sapphire and topaz are harder. Besides beauty, the quartz in the slabs give it extreme strength, making the slabs highly scratch-resistant.
			</p>
		</li>

		<li>
			<p class="question">Do you offer a warranty?</p>
			<p class="answers">
			Yes! Warranty valied for only defect products.</p>
		</li>
	</ul>
</div>

<!-- Warranty Page -->

<div id="warranty-div" class="hide">
	<img id="terms" src="assets/terms-and-conditions.jpg" >

</div>

<div id="review-div" class="hide">

	<h1>Reviews</h1>

	
	<% @reviews.each do |review| %>
	<ul>
		<li>
		<p><%=	review.name %>
		<br>
		<br>
		<%=	review.date %>
		<br>
		<br>
		"<em><%=review.description %></em>"
		</p>

	<%if logged_in? %>
		<p><%=link_to 'Edit', edit_review_path(review) %></p>
		<p><%=link_to "Delete", review_path(review), :method => :delete %></p>			
	<%end %>

		</li>
	</ul>
<% end %>



</div>


<div id="footer-div" >
	<ul>

		<li><p>1980 New Highway</p></li>
		<li><p>Farmingdale, New York 11735</p></li>
		<li><p>Tel: 631.396.0551</p></li>
		<li><p>Fax: 631.396.0554</p></li>
		<li><p>
		© 2015 RegaliaStone Corportation. All rights are reserved</p></li>

	</ul>

</div>






