<link href='http://fonts.googleapis.com/css?family=Vollkorn' rel='stylesheet' type='text/css'>
<% if logged_in? %>
 <a class="links" href="/logout"> Logout</a>
<% end %>
<div id="header"> 
		<a href="/"><img id="logo" src="assets/
		logo.png"></a>
	</div>

	<!-- Box containing logo -->

	<ul id="nav">
		<li><a>Marble</a></li>	
		<li><a>Quartz</a></li>
		<li><a>Granite</a></li>
		<li><a>Contact</a></li>
		<li><a>Gallery</a></li>
	</ul>

</div>

<!-- Front page box  -->
<div id="box">
	<p> We Sell Slabs At <br>Wholesale Prices </p>
	<input id="front-page-button" type="submit" class="styled-button-1" value="View our latest designs" /> 
</div>


<!-- Start Quartz Page -->



<div id="quartz-header">
	<h1> Quartz Slabs</h1>
	<h2>• The highest quality slabs available on the market </h2>
	<h3> • All quartz slabs are sizes 120" x 64" 3CM or bigger </h3>
	<h4>• Willing to match price with anyone. Just bring in proof</p>
</div>

<div id="granites-header">
	<h1> Granite Slabs</h1>
	<h2>• The highest quality slabs available on the market </h2>
	<h3> • All Granit slabs are sizes 120" x 64" 3CM or bigger </h3>
	<h4>• Willing to match price with anyone. Just bring in proof</p>
</div>

<!-- Quartz Table   -->





<!-- End Quartz Page  -->



<!-- Start Contact Page -->

<div id='contact-div'>
	<h1>We are available for your convenience at all times! For inquiries please contact sales: </h1>
	<h3>Aresh@RegaliaStone.com</h3>
	<h3>Sami@RegaliaStone.com</h3>
	

</div>

<table id="quartz-slabs">
	<tr>
		<td class="col">
			<ul>
				<% @quarts.each do |quart| %>
				<li>
					<a href="<%=quart_path(quart)%>"><figure>
						<%= image_tag quart.avatar.url(:medium) %>
						<figcaption>
							<center>
							<p><%=quart.name%></p><br>
							<p><%=quart.description%><br></p>
							 <% if logged_in? %>
							<p><%=link_to 'Edit', edit_quart_path(quart) %></p>
							<p><%=link_to "Delete", quart_path(quart), :method => :delete %></p>			
							<% end %>
							</center>
						</figcaption>
					</figure></a>
				</li>
				<% end %>
			</ul>
		</td>
	</tr>
</table>

<table id="granites-slabs">
	<tr>
		<td class="col">
			<ul>
				<% @granites.each do |granite| %>
				<li>
					<a href="<%=granite_path(granite)%>"><figure>
						<%= image_tag granite.avatar.url(:medium) %>
						<figcaption>
							<center>
							<p>	<%=granite.name%></p><br>
							<p><%=granite.description%><br></p>
							<% if logged_in? %>
							<p><%=link_to 'Edit', edit_granite_path(granite) %></p>
							<p><%=link_to 'Show', granite_path(granite) %></p>
							<p><%=link_to "Delete", granite_path(granite), :method => :delete %></p>			
							<% end %>
							</center>
						</figcaption>
					</figure></a>
				</li>
				<% end %>
			</ul>
		</td>
	</tr>
</table>








<!-- <table id="quartz-slabs">
    <tr>
 -->
    <!-- Column 1 -->
       <!--  <td class="col">
              <ul>
              	<li>
	              	<figure>
	              		<img src="assets/alaskan white.jpg">
	                	<figcaption>
	                	<center><p style="font-size:10px;;margin:0;">Alaskan White</p><br>
	                	<p>A beautiful, yet elegant pattern that displays excellelance in every way.<br>
	                	Size: 126" X 64" 3CM

	                	</p></center>
	                	</figcaption>
	              	</figure>
              	</li>
				<li>
					<figure>
						<img src="assets/Almond.jpg">
						<figcaption><center><p style="font-size:10px;;margin:0;"> Almond </p><br>
	                	<p>A beautiful, yet elegant pattern that displays excellelance in every way.<br>
	                	Size: 126" X 64" 3CM

	                	</p></center></figcaption>
					</figure>
				</li>
				<li>
					<figure>
						<img src="assets/anthractie.jpg">
						<figcaption><center><p style="font-size:10px;;margin:0;"> Anthracite </p><br>
	                	<p>A beautiful, yet elegant pattern that displays excellelance in every way.<br>
	                	Size: 126" X 64" 3CM

	                	</p></center></figcaption>
					</figure>
				</li>
				<li>
					<figure>
						<img src="assets/charcoal.jpg">
						<figcaption><center><p style="font-size:10px;;margin:0;"> Charcoal </p><br>
	                	<p>A beautiful, yet elegant pattern that displays excellelance in every way.<br>
	                	Size: 126" X 64" 3CM

	                	</p></center></figcaption>
					</figure>
				</li>
				<li>
					<figure>
						<img src="assets/glacier white.jpg">
						<figcaption><center><p style="font-size:10px;;margin:0;"> Charcoal </p><br>
	                	<p>A beautiful, yet elegant pattern that displays excellelance in every way.<br>
	                	Size: 126" X 64" 3CM

	                	</p></center></figcaption>
					</figure>
				</li>
				<li>
					<figure>
						<img src="assets/Golden Egg.jpg">
						<figcaption><center><p style="font-size:10px;;margin:0;"> Charcoal </p><br>
	                	<p>A beautiful, yet elegant pattern that displays excellelance in every way.<br>
	                	Size: 126" X 64" 3CM

	                	</p></center></figcaption>
					</figure>
				</li>
			
              </ul>
        </td>
 -->
        <!-- Column 2 -->

        <!-- <td class="col">
        	<uL>
				<li>
					<figure>
						<img src="assets/honey 2.jpg">
						<figcaption><center><p style="font-size:10px;;margin:0;"> Charcoal </p><br>
	                	<p>A beautiful, yet elegant pattern that displays excellelance in every way.<br>
	                	Size: 126" X 64" 3CM

	                	</p></center></figcaption>
					</figure>
				</li>
				<li>
					<figure>
						<img src="assets/honey.jpg">
						<figcaption><center><p style="font-size:10px;;margin:0;"> Charcoal </p><br>
	                	<p>A beautiful, yet elegant pattern that displays excellelance in every way.<br>
	                	Size: 126" X 64" 3CM

	                	</p></center></figcaption>
					</figure>
				</li>
				<li>
					<figure>
						<img src="assets/ice blue.jpg">
						<figcaption><center><p style="font-size:10px;;margin:0;"> Charcoal </p><br>
	                	<p>A beautiful, yet elegant pattern that displays excellelance in every way.<br>
	                	Size: 126" X 64" 3CM

	                	</p></center></figcaption>
					</figure>
				</li>
				<li>
					<figure>
						<img src="assets/ivory.jpg">
						<figcaption><center><p style="font-size:10px;;margin:0;"> Charcoal </p><br>
	                	<p>A beautiful, yet elegant pattern that displays excellelance in every way.<br>
	                	Size: 126" X 64" 3CM

	                	</p></center></figcaption>
					</figure>
				</li>
				<li>
					<figure>
						<img src="assets/java.jpg">
						<figcaption><center><p style="font-size:10px;;margin:0;"> Charcoal </p><br>
	                	<p>A beautiful, yet elegant pattern that displays excellelance in every way.<br>
	                	Size: 126" X 64" 3CM

	                	</p></center></figcaption>
					</figure>
				</li>
				<li>
					<figure>
						<img src="assets/madagascar.jpg">
						<figcaption><center><p style="font-size:10px;;margin:0;"> Charcoal </p><br>
	                	<p>A beautiful, yet elegant pattern that displays excellelance in every way.<br>
	                	Size: 126" X 64" 3CM

	                	</p></center></figcaption>
					</figure>
				</li>
			</ul>
				

        </td> -->

        <!-- Column 3  -->

        <!-- <td class="col">
        	<ul>
        	<li>
				<figure>
					<img src="assets/cool white.jpg">
						<figcaption><center><p style="font-size:10px;;margin:0;"> Cool White </p><br>
	                	<p>A beautiful, yet elegant pattern that displays excellelance in every way.<br>
	                	Size: 126" X 64" 3CM

	                	</p></center></figcaption>
				</figure>
				</li>
				<li>
				<figure>
					<img src="assets/Cream.jpg">
						<figcaption><center><p style="font-size:10px;;margin:0;"> Cream </p><br>
	                	<p>A beautiful, yet elegant pattern that displays excellelance in every way.<br>
	                	Size: 126" X 64" 3CM

	                	</p></center></figcaption>
				</figure>
				</li>
				<li>	
				<figure>
					<img src="assets/desert.jpg">
					<figcaption><center><p style="font-size:10px;;margin:0;"> Desert </p><br>
	                	<p>A beautiful, yet elegant pattern that displays excellelance in every way.<br>
	                	Size: 126" X 64" 3CM

	                	</p></center></figcaption>
				</figure>
				</li>
				<li>
				<figure>
					<img src="assets/floral white.jpg">
					<figcaption><center><p style="font-size:10px;;margin:0;"> Floral white </p><br>
	                	<p>A beautiful, yet elegant pattern that displays excellelance in every way.<br>
	                	Size: 126" X 64" 3CM

	                	</p></center></figcaption>
				</figure>
				</li>
				<li>
					<figure>
						<img src="assets/moon stone.jpg">
						<figcaption><center><p style="font-size:10px;;margin:0;"> Charcoal </p><br>
	                	<p>A beautiful, yet elegant pattern that displays excellelance in every way.<br>
	                	Size: 126" X 64" 3CM

	                	</p></center></figcaption>
					</figure>
				</li>
				<li>
					<figure>
						<img src="assets/onyx.jpg">
						<figcaption><center><p style="font-size:10px;;margin:0;"> Charcoal </p><br>
	                	<p>A beautiful, yet elegant pattern that displays excellelance in every way.<br>
	                	Size: 126" X 64" 3CM

	                	</p></center></figcaption>
					</figure>
				</li>
			</ul>

        <td> -->

        <!-- Column 4  -->
<!-- 
        <td class="col">
            <ul>
				<li>
					<figure>
						<img src="assets/Pale Gold.jpg">
						<figcaption><center><p style="font-size:10px;;margin:0;"> Charcoal </p><br>
	                	<p>A beautiful, yet elegant pattern that displays excellelance in every way.<br>
	                	Size: 126" X 64" 3CM

	                	</p></center></figcaption>
					</figure>
				</li>
				<li>
					<figure>
						<img src="assets/QS262.jpg">
						<figcaption><center><p style="font-size:10px;;margin:0;"> Charcoal </p><br>
	                	<p>A beautiful, yet elegant pattern that displays excellelance in every way.<br>
	                	Size: 126" X 64" 3CM

	                	</p></center></figcaption>
					</figure>
				</li>
				<li>
					<figure>
						<img src="assets/sandy brown.jpg">
						<figcaption><center><p style="font-size:10px;;margin:0;"> Charcoal </p><br>
	                	<p>A beautiful, yet elegant pattern that displays excellelance in every way.<br>
	                	Size: 126" X 64" 3CM

	                	</p></center></figcaption>
					</figure>
				</li>
				<li>
					<figure>
						<img src="assets/Seashell.jpg">
						<figcaption><center><p style="font-size:10px;;margin:0;"> Charcoal </p><br>
	                	<p>A beautiful, yet elegant pattern that displays excellelance in every way.<br>
	                	Size: 126" X 64" 3CM

	                	</p></center></figcaption>
					</figure>
				</li>
				<li>
					<figure>
						<img src="assets/snow.jpg">
						<figcaption><center><p style="font-size:10px;;margin:0;"> Charcoal </p><br>
	                	<p>A beautiful, yet elegant pattern that displays excellelance in every way.<br>
	                	Size: 126" X 64" 3CM

	                	</p></center></figcaption>
					</figure>
				</li>
				<li>
					<figure>
						<img src="assets/tan.jpg">
						<figcaption><center><p style="font-size:10px;;margin:0;"> Charcoal </p><br>
	                	<p>A beautiful, yet elegant pattern that displays excellelance in every way.<br>
	                	Size: 126" X 64" 3CM

	                	</p></center></figcaption>
					</figure>
				</li>
            </ul>
        </td>
    </tr>
</table>

 -->

<!-- <table id="granite-slabs">
    <tr>
        <td class="col">
              <ul>
              	<li>
	              	<figure>
	              		<img src="assets/alaskan white.jpg">
	                	<figcaption>
	                	<center><p style="font-size:10px;;margin:0;">Alaskan White</p><br>
	                	<p>A beautiful, yet elegant pattern that displays excellelance in every way.<br>
	                	Size: 126" X 64" 3CM

	                	</p></center>
	                	</figcaption>
	              	</figure>
              	</li>
				<li>
					<figure>
						<img src="assets/Almond.jpg">
						<figcaption><center><p style="font-size:10px;;margin:0;"> Almond </p><br>
	                	<p>A beautiful, yet elegant pattern that displays excellelance in every way.<br>
	                	Size: 126" X 64" 3CM

	                	</p></center></figcaption>
					</figure>
				</li>
				<li>
					<figure>
						<img src="assets/anthractie.jpg">
						<figcaption><center><p style="font-size:10px;;margin:0;"> Anthracite </p><br>
	                	<p>A beautiful, yet elegant pattern that displays excellelance in every way.<br>
	                	Size: 126" X 64" 3CM

	                	</p></center></figcaption>
					</figure>
				</li>
				<li>
					<figure>
						<img src="assets/charcoal.jpg">
						<figcaption><center><p style="font-size:10px;;margin:0;"> Charcoal </p><br>
	                	<p>A beautiful, yet elegant pattern that displays excellelance in every way.<br>
	                	Size: 126" X 64" 3CM

	                	</p></center></figcaption>
					</figure>
				</li>
				<li>
					<figure>
						<img src="assets/glacier white.jpg">
						<figcaption><center><p style="font-size:10px;;margin:0;"> Charcoal </p><br>
	                	<p>A beautiful, yet elegant pattern that displays excellelance in every way.<br>
	                	Size: 126" X 64" 3CM

	                	</p></center></figcaption>
					</figure>
				</li>
				<li>
					<figure>
						<img src="assets/Golden Egg.jpg">
						<figcaption><center><p style="font-size:10px;;margin:0;"> Charcoal </p><br>
	                	<p>A beautiful, yet elegant pattern that displays excellelance in every way.<br>
	                	Size: 126" X 64" 3CM

	                	</p></center></figcaption>
					</figure>
				</li>
			
              </ul>
        </td>

        <td class="col">
        	<uL>
				<li>
					<figure>
						<img src="assets/honey 2.jpg">
						<figcaption><center><p style="font-size:10px;;margin:0;"> Charcoal </p><br>
	                	<p>A beautiful, yet elegant pattern that displays excellelance in every way.<br>
	                	Size: 126" X 64" 3CM

	                	</p></center></figcaption>
					</figure>
				</li>
				<li>
					<figure>
						<img src="assets/honey.jpg">
						<figcaption><center><p style="font-size:10px;;margin:0;"> Charcoal </p><br>
	                	<p>A beautiful, yet elegant pattern that displays excellelance in every way.<br>
	                	Size: 126" X 64" 3CM

	                	</p></center></figcaption>
					</figure>
				</li>
				<li>
					<figure>
						<img src="assets/ice blue.jpg">
						<figcaption><center><p style="font-size:10px;;margin:0;"> Charcoal </p><br>
	                	<p>A beautiful, yet elegant pattern that displays excellelance in every way.<br>
	                	Size: 126" X 64" 3CM

	                	</p></center></figcaption>
					</figure>
				</li>
				<li>
					<figure>
						<img src="assets/ivory.jpg">
						<figcaption><center><p style="font-size:10px;;margin:0;"> Charcoal </p><br>
	                	<p>A beautiful, yet elegant pattern that displays excellelance in every way.<br>
	                	Size: 126" X 64" 3CM

	                	</p></center></figcaption>
					</figure>
				</li>
				<li>
					<figure>
						<img src="assets/java.jpg">
						<figcaption><center><p style="font-size:10px;;margin:0;"> Charcoal </p><br>
	                	<p>A beautiful, yet elegant pattern that displays excellelance in every way.<br>
	                	Size: 126" X 64" 3CM

	                	</p></center></figcaption>
					</figure>
				</li>
				<li>
					<figure>
						<img src="assets/madagascar.jpg">
						<figcaption><center><p style="font-size:10px;;margin:0;"> Charcoal </p><br>
	                	<p>A beautiful, yet elegant pattern that displays excellelance in every way.<br>
	                	Size: 126" X 64" 3CM

	                	</p></center></figcaption>
					</figure>
				</li>
			</ul>
				

        </td>

        <td class="col">
        	<ul>
        	<li>
				<figure>
					<img src="assets/cool white.jpg">
						<figcaption><center><p style="font-size:10px;;margin:0;"> Cool White </p><br>
	                	<p>A beautiful, yet elegant pattern that displays excellelance in every way.<br>
	                	Size: 126" X 64" 3CM

	                	</p></center></figcaption>
				</figure>
				</li>
				<li>
				<figure>
					<img src="assets/Cream.jpg">
						<figcaption><center><p style="font-size:10px;;margin:0;"> Cream </p><br>
	                	<p>A beautiful, yet elegant pattern that displays excellelance in every way.<br>
	                	Size: 126" X 64" 3CM

	                	</p></center></figcaption>
				</figure>
				</li>
				<li>	
				<figure>
					<img src="assets/desert.jpg">
					<figcaption><center><p style="font-size:10px;;margin:0;"> Desert </p><br>
	                	<p>A beautiful, yet elegant pattern that displays excellelance in every way.<br>
	                	Size: 126" X 64" 3CM

	                	</p></center></figcaption>
				</figure>
				</li>
				<li>
				<figure>
					<img src="assets/floral white.jpg">
					<figcaption><center><p style="font-size:10px;;margin:0;"> Floral white </p><br>
	                	<p>A beautiful, yet elegant pattern that displays excellelance in every way.<br>
	                	Size: 126" X 64" 3CM

	                	</p></center></figcaption>
				</figure>
				</li>
				<li>
					<figure>
						<img src="assets/moon stone.jpg">
						<figcaption><center><p style="font-size:10px;;margin:0;"> Charcoal </p><br>
	                	<p>A beautiful, yet elegant pattern that displays excellelance in every way.<br>
	                	Size: 126" X 64" 3CM

	                	</p></center></figcaption>
					</figure>
				</li>
				<li>
					<figure>
						<img src="assets/onyx.jpg">
						<figcaption><center><p style="font-size:10px;;margin:0;"> Charcoal </p><br>
	                	<p>A beautiful, yet elegant pattern that displays excellelance in every way.<br>
	                	Size: 126" X 64" 3CM

	                	</p></center></figcaption>
					</figure>
				</li>
			</ul>

        <td>

        <td class="col">
            <ul>
	          
				
				<li>
					<figure>
						<img src="assets/Pale Gold.jpg">
						<figcaption><center><p style="font-size:10px;;margin:0;"> Charcoal </p><br>
	                	<p>A beautiful, yet elegant pattern that displays excellelance in every way.<br>
	                	Size: 126" X 64" 3CM

	                	</p></center></figcaption>
					</figure>
				</li>
				<li>
					<figure>
						<img src="assets/QS262.jpg">
						<figcaption><center><p style="font-size:10px;;margin:0;"> Charcoal </p><br>
	                	<p>A beautiful, yet elegant pattern that displays excellelance in every way.<br>
	                	Size: 126" X 64" 3CM

	                	</p></center></figcaption>
					</figure>
				</li>
				<li>
					<figure>
						<img src="assets/sandy brown.jpg">
						<figcaption><center><p style="font-size:10px;;margin:0;"> Charcoal </p><br>
	                	<p>A beautiful, yet elegant pattern that displays excellelance in every way.<br>
	                	Size: 126" X 64" 3CM

	                	</p></center></figcaption>
					</figure>
				</li>
				<li>
					<figure>
						<img src="assets/Seashell.jpg">
						<figcaption><center><p style="font-size:10px;;margin:0;"> Charcoal </p><br>
	                	<p>A beautiful, yet elegant pattern that displays excellelance in every way.<br>
	                	Size: 126" X 64" 3CM

	                	</p></center></figcaption>
					</figure>
				</li>
				<li>
					<figure>
						<img src="assets/snow.jpg">
						<figcaption><center><p style="font-size:10px;;margin:0;"> Charcoal </p><br>
	                	<p>A beautiful, yet elegant pattern that displays excellelance in every way.<br>
	                	Size: 126" X 64" 3CM

	                	</p></center></figcaption>
					</figure>
				</li>
				<li>
					<figure>
						<img src="assets/tan.jpg">
						<figcaption><center><p style="font-size:10px;;margin:0;"> Charcoal </p><br>
	                	<p>A beautiful, yet elegant pattern that displays excellelance in every way.<br>
	                	Size: 126" X 64" 3CM

	                	</p></center></figcaption>
					</figure>
				</li>
				

            </ul>
        </td>
    </tr>
</table>
 -->