<body style="background-image:none;">

<script>
	 if 
	 	( $("img[alt*='Calcatta extra']") || $("img[alt*='Calcatta extra1']") || $("img[alt*='Calcatta extra3']") )  

	 {

	 $( "img[alt*='Calcatta extra']").css("width", "20%"), 
	 $( "img[alt*='Calcaata extra3']").css("width", "20%"),
	 $( "img[alt*='Calcattta extra1']").css("width", "20%")

	 };

</script>



<div class="quart-show-div">
	<ul>
		<li><h1 style="text-align: center;color:black;font-family: 'Josefin Sans';font-size:80px;"><%=@quart.name%></h1><br></li>

		<!-- <p>Specifications</p> -->

	<% @pictures_quart.each do |pic| %>
      <li>      <a href="/pictures/<%=pic.id%>"><%= image_tag pic.image.url %></a></li>
      <%= pic.description %>





      <% end %>
      <li><p><b>Collection:</b> <%=@quart.collection %></p></li>
		<li><p><b>Description:</b> <%=@quart.description%></p></li>
	</ul>

     

</div>
</body>
