

<% if logged_in? %>
  <h1 class="h1-headers">Edit Picture</h1>


<%= form_for @picture do |f| %>
<ul class="picture-details-list">
	

	<li><%= link_to "Delete picture", @picture, :id => "delete-picture", :method => :delete, data: { confirm: "You sure?" } %></li>

    <li><%= image_tag @picture.image.url %></li><br>


    <li><%= f.text_field :description, :placeholder => "Enter Caption" %></li><br>


  
 
    <%= f.submit  %>

</ul>
<% end %>

<% else %>

Please login to view this page 

<% end %>

    
