<% if logged_in? %>

<div class="new_div">
	<ul>
		<%= form_for(@review) do |f| %>
			<li><%= f.label(:name) %></li>
			<%= f.text_field(:name) %>
			<li><%= f.label(:date) %></li>
			<%= f.datetime_select(:date) %>
			<li><%= f.label(:description) %></li>
			<%= f.text_area(:description) %>
				<li><%= f.submit %></li>
		<% end %>
	</ul>
</div>	

<%else %>

<p>You must be an administrator to access this page, please return to the home site. </p>

<%end %>